.filter-style {
    display: -webkit-inline-box;
    width: 100%;
}

.select-menu {
    width: 30%;
    margin-inline-start: auto;
}

.font-body-1 {
    font-size: 24px;
    color:#d4b128;
    margin-bottom: 2rem !important;
    font-family: sans-serif;
    font-style: oblique
}

.font-body-2 {
    font-size: 24px;
    color:coral;
    margin-bottom: 2rem !important;
}

.font-body-menu {
    font-size: 24px;
}

.font-card-title {
    font-size: 20px;
    font-weight: 600;
}

.font-card-text {
    font-size: 16px;
}

.font-body-menu > .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #433c54 ;
    font-family: Titillium Web;
}

.font-body-menu > .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color: #bf8226;
    font-family: Titillium Web;
}

@media only screen and (max-width: 575px) {
    .font-body-1 {
        font-size: 16px !important;
    }
    .font-body-2 {
        font-size: 16px !important;
    }
    .font-body-menu {
        font-size: 16px !important;
    }
    .font-card-title {
        font-size: 16px !important;
    }
    .font-card-text {
        font-size: 14px !important;
    }
}