.nav-not-active {
    color: #bf8226 !important
}

.nav-active {
    color: #433c54 !important
}

.img-header {
    width: 170px; 
    padding:0px;
    margin-bottom:-20px; 
    margin-right:-2rem;
    margin-left:-2rem
}

.footer-map {
    background-color: #f2e5d0;
    padding: 1rem; 
    border: #f2e5d0
}

@media only screen and (max-width: 480px) {
    .app-div {
        width: 100% !important;
        margin: 0 !important;
    }

    .font-nav {
        font-size: 14px !important;
    }

    .img-header {
        width: 140px !important;
    }

    .div-header {
        padding: 0 !important;
        margin-bottom:10px !important
    }

    .div-footer {
        margin-top: 0 !important;
        margin-bottom: 10px !important
    }

    .font-footer {
        font-size: 12px !important;
    }

    .font-footer-1 {
        font-size: 12px !important;
        font-weight: bolder;
    }

    .img-footer {
        margin-left: 10px !important;
        width: 50px !important;
    }

    .img-footer-2 {
        margin-left: 10px !important;
        width: 30px !important;
    }

    .img-footer-3 {
        width: 30px !important;
    }

    .footer-map {
        margin-bottom: 0px !important;
    }

    .line-header {
        margin-top: 0 !important;
    }
}

@media only screen and (max-width: 575px) {
    .footer-map {
        margin-bottom: 0px !important;
    }
    .footer-contact {
        padding: 0 !important; 
        margin-bottom: 0 !important;
    }
    .breadcrumb-1 {
        margin-left: 10% !important;
    }
}

.font-breadcrumb-active {
    text-decoration: none !important;
    color: brown;
    font-size: 24px;
}

.font-breadcrumb-not-active {
    text-decoration: none !important;
    color: black;
    font-size: 24px;
}

.line-header {
    margin-top: -1rem;
}

.container-header {
    justify-content: center;
}

@media only screen and (max-width: 650px) {
    .font-header {
        font-size: 24px;
    }
    .container-header {
        justify-content: center !important;
    }
}

.img-footer-3 {
    width: 50px;
}