.card-title {
    font-family: monospace;
    font-size: 30px;
    font-weight: bold;
}

.card-text {
    margin-top: 20px;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.font-home-1 {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    font-family: Titillium Web;
}


@media only screen and (max-width: 575px) {
    .card-text {
        font-size: 16px !important;
    }
    .card-title {
        font-size: 14px !important;
    }
    .font-home-1 {
        font-size: 14px !important;
    }
    .card-home {
        margin-bottom: -20px !important;
    }
}